<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cbean.net/schema/remote http://cbean.net/schema/remote/core.xsd">

    <!-- <simple xmlns="http://cbean.net/schema/remote" myProperty="testMe">


        <simpleController>
            <simpleController controllerName="testMeToo" />
        </simpleController>

        <controllers>
            <complexController pattern="testPattern" />
            <complexController pattern="testPattern2" />
            <complexController pattern="testPattern3" />
        </controllers>

    </simple> -->
</beans>