<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<!--  Java Mail Config -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host">
			<value>localhost</value>
		</property>
		<property name="port">
			<value>3025</value>
		</property>
		<property name="username">
			<value>twu</value>
		</property>
		<property name="password">
			<value>pass</value>
		</property>
		<property name="javaMailProperties"> 
			<props> 
				<prop key="mail.smtp.auth">false</prop>
				<!-- <prop key="mail.smtp.starttls.enable">true</prop> -->
			</props>
		</property> 
	</bean>
	<bean id="mailSender" class="net.cbean.mail.javamail.JavaMailSenderImpl">
		<property name="mailSender">
			<ref bean="javaMailSender"/>
		</property>
	</bean>
	
	<bean id="testCommand" class="net.cbean.cmd.TestCommand" />
	
	<!-- <bean id="JesMailSender" class="net.cbean.mail.jes.JesSmtpMailSender">
		<constructor-arg>
			<value>conf</value>
		</constructor-arg>
	</bean> -->
</beans>